<!--Launch the entire SoFi autocontroller process/!-->

<launch>
    <arg name="auto_control" default="true"/>
    <arg name="debug" default="true"/>

    <group if="$(arg auto_control)">
        <!--Launch the raspicam node/!-->
        <include file="$(find raspicam_node)/launch/camerav2_320x240.launch"/>
        <!--Launch the state estimation node/!-->
        <node type="ObjectTracker_320x240.py" pkg="fishstatecontroller" name="state_estimation" output="screen" />
        <!--Launch the finite state machine node/!-->
        <node type="FishStateMachine.py" pkg="fishstatecontroller" name="finite_state_machine" output="screen" />
        <!--Launch the PID controller nodes/!-->
        <include file="$(find fishstatecontroller)/src/auto_controller.launch"/>
    </group>

    <group unless="$(arg auto_control)">
        <!--Launch the manual controller node/!-->
        <node type="ManualController.py" pkg="fishstatecontroller" name="manual_controller" output="screen" />
    </group>

    <!--Launch the serial node/!-->
    <node type="serial_node.py" pkg="fishstatecontroller" name="serial" output="screen" />

</launch>
